/**
 * Style for navbar
 */

.nav {
    font-family: @font-family-navbar;
    overflow: hidden;
    width: 100%;
    z-index: 100;
    background-color: @navbar-bg-color;
    height: @navbar-height;

    & .mobile-nav-items {
        background-color: @navbar-bg-color;

        & .nav-item {
            padding: @navbar-item-padding;
            float: left;

            & .icon,
            & .icon-text {
                background-color: transparent;
                color: @navbar-color;
            }

            & .icon {
                padding-right: @navbar-item-padding;
            }

            &:hover {
                color: @navbar-color-hover;

                & .icon,
                & .icon-text {
                    color: inherit;
                }
            }
        }
    }

    #logo {
        & .logo-text {
            float: left;
            color: @navbar-color;
            padding: @navbar-item-padding;
        }

        & .logo-image {
            float: left;
            width: @navbar-height;
            height: @navbar-height;
            margin: 0;
        }

        &:hover {
            color: @accentColor;

            & .logo-text {
                color: inherit;
            }
        }
    }
}

.active {
    background-color: @navbar-bg-color-active !important;
    color: @navbar-color-active !important;
}

@media (max-width: @breakpoint-medium) {
    .nav {
        background-color: transparent;
        height: 0 !important;

        & .mobile-nav-items {
            position: fixed;
            display: none;
            flex-direction: column;
            right: 0;
            top: 0;
            height: 100vh;
            padding-top: @navbar-height * 2;
            z-index: 101;
            transition-duration: @trans-dur-short;

            & .nav-item {
                border-top: 1px solid @navbar-color;
                display: block;
                padding-left: @nav-item-padding-left !important;
                width: 100%;
            }

            & .dropdown {
                & .dropdown-content-arrow {
                    border-top: 1px solid @navbar-color;
                    display: inline-block;
                    padding: 0.75em;
                    width: ~"@{dropdown-content-arrow-width}em";
                    font-size: @dropdown-content-arrow-font-size;
                    color: @accentColor;
                    background-color: @navbar-arrow-bg-color;
                }
                & .dropdown-item {
                    width: calc(100% - (@dropdown-content-arrow-width * @dropdown-content-arrow-font-size));
                }

                & .dropdown-content {
                    display: none;

                    & .dropdown-content-item {
                        padding-left: calc(@nav-item-padding-left * 2) !important;
                    }
                }
            }
        }

        & .mobile-nav-icon {
            display: block;
            position: fixed;
            cursor: pointer;
            right: 0;
            top: 0;
            width: @navbar-height;
            height: @navbar-height;
            z-index: 102;

            /* Three horizontal lines when the menu is hidden. */
            & .mobile-nav-icon-parts {
                width: 2.2em;
                height: 0.3em;
                background-color: @accentColor;
                margin-top: 0.4em;
                margin-bottom: 0.4em;
                transition: 0.4s;
            }

            /* Cross symbol when the menu is visable. */
            .part1 {
                transform: rotate(-45deg) translate(-0.5em, 0.63em);
                width: 2.5em;
            }

            .part2 {
                opacity: 0;
            }

            .part3 {
                transform: rotate(45deg) translate(-0.35em, -0.53em);
                width: 2.5em;
            }
        }

        & #logo {
            position: fixed;
            right: 0;
            top: @navbar-height;
            cursor: pointer;
            z-index: 102;
            display: none;
            transition-duration: @trans-dur-short;
        }
    }

    #scroll-to-top {
        display: none;
    }
}

@media (min-width: @breakpoint-small + 1px) and (max-width: @breakpoint-medium) {
    .nav .mobile-nav-items,
    #logo {
        width: 24em;
        max-width: 100vw;
    }
}

@media (max-width: @breakpoint-small) {
    .nav .mobile-nav-items,
    #logo {
        width: 100vw;
        padding-left: @navbar-item-padding;
    }
}

@media (min-width: @breakpoint-medium + 1px) {
    .nav .mobile-nav-items,
    #logo {
        display: block !important;
    }

    .dropdown {
        height: @navbar-height;
        float: left;
        width: 10em;

        &:hover {
            & .dropdown-content {
                display: block !important;
            }
        }

        & .dropdown-item {
            width: inherit;

            & .dropdown-content-arrow {
                display: none;
            }
        }

        & .dropdown-content {
            display: none;
            position: absolute;
            top: @navbar-height;
            overflow-y: auto;
            max-height: calc(80vh - @navbar-height);
            z-index: 103;
            background-color: @navbar-bg-color;
            width: inherit;

            & .dropdown-content-item {
                border-top: 1px solid @navbar-color;
                width: inherit;
            }
        }
    }

    #scroll-to-top {
        display: none;
        position: fixed;
        right: 0.5rem;
        bottom: 0.5rem;
        padding: 0.5rem;
        color: @accentColor;
        cursor: pointer;

        &:hover {
            color: @scroll-to-top-color-hover;
            transition-duration: @trans-dur-short;
        }
    }
}
